*{
  box-sizing: border-box;
}
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  /* padding: 0px 50px; */
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  gap: 280px;
}
.logo {
  /* width: 199px; */
  height: 39px;
}
.hamburger {
  display: none;
}
.header-text {
  color: #19191b;
  font: bolder;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  /* width: 327px; */
  height: 32px;
}
nav button {
  display: none;
}
a {
  text-decoration: none;
  color: #696871;
}
a:hover {
  border-bottom: 2px solid #5454d4;
  top: 60px;
}
.btn-header {
  /* width: 211px; */
  height: 60px;
  cursor: pointer;
  background-color: #ff7143;
  border: none;
  border-radius: 10px;
  color: white;
  align-items: center;
  padding: 8px 25px;
}

/* Section 1 */
.Section-1-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 644px;
  margin-top: 55px;
}
.sec-1-data {
  /* width: 459px; */
  height: 461px;
  top: 282px;
  left: 184px;
}
.sec-1-text {
  /* width: 462px; */
  /* height: 231px; */
  font:
    700 60px "DM Sans",
    sans-serif;
  color: #19191b;
  /* letter-spacing: -2.5px; */
}
.sec-1-par {
  /* width: 459px; */
  height: 60px;
  font: 400 20px;
  font-family: "Mulish", sans-serif;
  color: #696871;
  top: 261px;
}
.sec-1-bt-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.sec-1-btn {
  width: 211px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #5454d4;
  color: white;
  letter-spacing: -0.5px;
  font: 700 17px;
  font-family: "DM Sans", sans-serif;
  cursor: pointer;
}
.arrow-down {
  width: 60px;
  height: 40px;
}
.arrow-down:hover {
  cursor: pointer;
}

.sec-1-img {
  width: 510px;
  height: 544px;
}
.logo-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width:80%;
}
.sec-2-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  /* height: 644px; */
  margin-top: 120px;
}
.sec2-img {
  width: 300px;
  height: 373px;
}
.sec-data {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.sec-text {
  font:
    700 50px "DM Sans",
    sans-serif;
  color: #19191b;

}
.sec-par {
  width: 459px;
  height: 90px;
  font-family: "Mulish", sans-serif;
  font: 400 20px;
  color: #696871;
}
.sec-link {
  width: 89px;
  height: 22px;
  top: 207px;
  font-family: "DM Sans", sans-serif;
  font: 700 17px;
  line-height: 100%;
  color: #5454d4;
}
.sec-3-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin-top: 60px;
}
.sec-3-wrapper img {
   width: 300px;
  height: 373px;
  order: 2;
}
.sec-3-wrapper .sec-data {
  order: 1;
}
/*Extra features*/
.extFeatures {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 140px;
}
.features-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 430x; */
}
.img-1 {
  width: 70px;
  /* height: 64px; */
}
.img-2 {
  width: 70px;
}
.img-3 {
  width: 80px;
}
.feature-head {
  font-family: "DM Sans", sans-serif;
  font: 700 24px;
  color: #19191b;
  align-items: center;
}
.feature-text {
  width: 307px;
  line-height: 24px;
  font-family: "Mullish", sans-serif;
  font: 400 16px;
  color: #696871;
  margin-top: 0;
}
/* Section 4 */
.sec-4-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 80%;
  height: 950px;
  margin-top: 100px;
  gap: 60px;
  padding-bottom: 100px;
}
.first-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.fdata-text {
  width: 523px;
  height: 140px;
  font-family: " DM Sans", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
}
.switch {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 346px;
  height: 65px;
  border: none;
  border-radius: 15px;
  background-color: #f7f7fb;
}
.yearly {
  width: 160px;
  height: 55px;
  font-family: "DM Sans", sans-serif;
  font: 700 16px;
  background-color: #5454d4;
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.monthly {
  font-family: "DM Sans", sans-serif;
  font: 700 16px;
  color: #19191b;
  background-color: #f7f7fb;
  width: 160px;
  height: 55px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-data {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 473px;
  gap: 10px;
  padding-bottom: 10rem;
}
.sec4-free {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 530px;
  border-radius: 10px;
  border: none;
  background-color: #f8f8f8;
  transition: all 0.3s ease;
}
.sec4-free:hover{
background-color:#ff7143 ;
transform: scale(1.12);
}
/* .sec4-colored {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 376px;
  height: 550px;
  top: 2880px;
  left: 533px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #ff7143;
} */
.sec-4-text {
  width: 118px;
  height: 150px;
  top: 168px;
  left: 106px;
  font-family: "Mulish", sans-serif;
  font: 400 17px;
  text-align: center;
  line-height: 50px;
}
.sec-4-text2 {
  width: 136px;
  height: 150px;
  top: 168px;
  left: 96px;
  font-family: "Mulish", sans-serif;
  font: 400 17px;
  text-align: center;
  line-height: 50px;
}
#one {
  width: 54px;
  height: 28px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}
.free {
  width: 125px;
  height: 56px;
  opacity: 1;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 60px;
  line-height: 56px;
  text-align: center;
}
.sec-4-btn {
  width: 285px;
  height: 60px;
  border: 1px solid #eae9f2;
  border-radius: 10px;
  background-color: white;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  color: #5454d4;
}
.sec-4-btn2 {
   width: 285px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: #9f3919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  text-align: center;
  color: #ffffff;
}
.pricing {
  width: 200;
  height: 56;
  top: 100px;
  left: 83.5px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 56px;
  text-align: center;
}
span {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
}
/* Media Query Point */
@media (max-width: 380px) {
  *{
    box-sizing: border-box;
  }
  body {
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
  }
  .logo {
    width:40%;
  }
  .hamburger {
    display: block;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
  }
  nav {
    width: 90px;
    height: 150px;
    display: none;
    position: absolute;
    top: 70%;
    right: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10;
    padding: 0;
    
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid  rgba(255, 255, 255, 0.3) ;
    border-radius: 15px;
    box-shadow: 0 8px 32px  rgba(0, 0, 0, 0.2);;
  }
  #nav.active {
    display: flex;
  }
  nav a {
    /* padding: 5px 0px; */
    text-align: left;
    color: #696871;
    transition: 0.3s ease;
    font-size: 14px;
  }
  nav a:hover {
    transform: translateX(5px);
  }
  nav button {
    margin: 10px;
  }
  .btn-header {
    display: none;
  }
  /* Section 1 */
  .Section-1-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 650px;
    margin: 0;
  }
  .sec-1-data {
    width: 320px;
    height: 350px;
  }
  .sec-1-text {
    width: 250px;
    height: 120px;
    font:
      700 40px "DM Sans",
      sans-serif;
    line-height: 40px;
    color: #19191b;
    letter-spacing: 2px;
  }
  .sec-1-par {
    width: 300px;
    height: 90px;
    font: 400 20px;
    font-family: "Mulish", sans-serif;
    line-height: 25px;
    color: #696871;
  }
  .sec-1-bt-icon {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .sec-1-btn {
    width: 100px;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #5454d4;
    color: white;
    font: 700 14px;
    font-family: "DM Sans", sans-serif;
    cursor: pointer;
  }
  .arrow-down {
    width: 21;
    height: 35px;
  }
  .arrow-down:hover {
    cursor: pointer;
  }
  .sec-1-img {
    width: 320px;
    height: 300px;
  }
  .logo-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 30px;
  }
  .logo-section img {
    width: 15%;
  }
  .sec-2-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 450px;

  }
  .sec2-img {
    width: 280px;
    height: 300px;
  }
  .sec-data {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin-top: 0px;
  }
  .sec-text {
    width: 280px;
    height: 40px;
    font:
      700 32px "DM Sans",
      sans-serif;
    color: #19191b;
  }
  .sec-par {
    width: 300px;
    height: 85px;
    font-family: "Mulish", sans-serif;
    font: 400 20px;
    line-height: 30px;
    color: #696871;
  }
  .sec-link {
    width: 80px;
    height: 22px;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    color: white;
    background-color: navy;
    border: none;
    border-radius: 10px;
    padding: 5px;
  }
  .sec-3-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 650px;
  }
  .sec-3-wrapper .sec-data {
    order: 2;
  }
  .sec-3-wrapper img {
    width: 280px;
    height: 300px;
    margin-top: 40px;
    order: 1;
  }
  /*Extra features*/
  .extFeatures {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top:0;
    margin-bottom: 30px;
  }
  .features-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    width: 30%;
    height: 60px;
    gap: 15px;
  }
  .img-1 {
    width: 30px;
    height: 30px;
  }
  .img-2 {
    width: 30px;
    /* height: 30px; */
  }
  .img-3 {
    width: 30px;
    height: 30px;
  }
  .feature-head {
    font-family: "DM Sans", sans-serif;
    font: 700 14px;
    color: #19191b;
    text-align: center;
    margin-bottom: 0px;
  }
  .benchmark {
    font-size: 12px;
    width: 90px;
  }
  .pricing-audit {
    font-size: 12px;
    width: 90px;
  }
  .Retention {
    font-size: 12px;
    width: 90px;
  }
  .feature-text {
    width: 100px;
    font-family: "Mullish", sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: #696871;
    line-height: 15px;
    text-align: center;
    margin-top: 0px;
  }
  /* Section 4 */
  .sec-4-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    width: 100%;
    height: 400px;
    margin-top: 5rem;
    gap: 30px;
    background-color: #f0f0f5;
  }
  .first-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: 40px; */
  }
  .fdata-text {
    width: 70%;
    height: 20px;
    font-family: " DM Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
  }
  .switch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 20px;
    border: none;
    border-radius: 25px;
  }
  .yearly {
    height: 20px;
    font-family: "DM Sans", sans-serif;
    font-size: 10px;
    background-color: #5454d4;
    color: #ffffff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  .monthly {
    font-family: "DM Sans", sans-serif;
    font-size: 10px;
    color: #19191b;
    background: #f7f7fb07;
    height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .second-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 370px;
    gap: 10px;
    margin-top: 40px;
  }
  .sec4-free {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 250px;
    border-radius: 10px;
    border: none;
    background-color: #f8f8f8;
  }
  .sec-4-text {
    width: 55%;
    height: 100px;
    font-family: "Mulish", sans-serif;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
  }
  #one {
    width: 75%;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
  .free {
    margin: 0;
    /* width: 125px; */
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-align: center;
  }
  .sec-4-btn {
    width: 90%;
    height: 20px;
    border: 1px solid #eae9f2;
    border-radius: 10px;
    background-color: white;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    color: #5454d4;
  }
  .sec-4-btn2 {
    width:90%;
    height: 20px;
    border: none;
    border-radius: 10px;
    background-color: #9f3919;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    color: #ffffff;
  }
  .pricing {
    margin: 0;
    width: 100%;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size:26px;
    text-align: center;
  }
  span {
    font-family:" DM Sans" sans-serif;
    font-weight: 500;
    font-size: 11px;
    text-align: center;
  }
}
